<!DOCTYPE html>
<html>
<head>
  <title>RailsGoogleMaps</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Add the google maps library -->
  <script src="http://maps.googleapis.com/maps/api/js"></script>
  
</head>
<body>

<%= yield %>

</body>
</html>
